<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock title %}</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="{% url 'create_account' %}">Create account</a></li>
        <li><a href="{% url 'create_category' %}">Create expense</a></li>
        <li><a href="{% url 'create_receipt' %}">Create reciept</a></li>
        <li><a href="{% url 'account_list' %}">View accounts</a></li>
        <li><a href="{% url 'category_list' %}">View expenses</a></li>
        <li><a href="{% url 'home' %}">View reciepts</a></li>
        {% else %}
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block main %}

    {% endblock %}
  </main>
</body>
</html>
