{% extends "base.html" %}
{% block title %}
Account List
{% endblock title %}

{% block main %}

        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of reciepts</th>
                </tr>
            </thead>
            <tbody>
                {% for item in account_list %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.number }}</td>
                    <td>{{ item.receipt.total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
