{% extends "base.html" %}
{% block title %}
Category list
{% endblock title %}

{% block main %}

        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for item in category_list %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.receipts.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
